[Desktop Entry]
Name=Ay-yah's Greenhouse Desktop Interface
Exec=/home/username/greenhousegtkcontrol.py
Icon=/home/username/headerimage.jpg
Terminal=true
Type=Application
